h1 {
    color:rgb(36, 36, 124);
}
img {
    width: 400px;
}
.thirdDiv {
    height: 600px; width: 500px;
}
.thirdDiv {
    background-color: rgb(112, 129, 129);
}
#spanId {
    font-size: 25px;
}
#spanId {
    margin: 50px;
}
#thirdDiv {
 padding: 50px;
}
#thirdDiv {
    border: 6px double cadetblue;  
}